*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  min-height: 100vh;
  background-color: hsl(30, 54%, 90%);
  align-items: center;
  justify-content: center;
}

.card
{
  display: flex;
  background-color: hsl(0, 0%, 100%);
  flex-direction: column;
  max-width: 375px;
  width: 90%;
  padding: 1.5rem;
}

img
{
  width: 100%;
  border-radius: 0.5rem;
}

h1,h2{
  color: hsl(24, 5%, 18%);
}

p,li
{
  color: hsl(30, 10%, 34%);
}

