*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  min-height: 100vh;
  background-color: hsl(30, 54%, 90%);
  align-items: center;
  justify-content: center;
}

.card
{
  display: flex;
  background-color: hsl(0, 0%, 100%);
  flex-direction: column;
  max-width: 375px;
  width: 90%;
  padding: 1.5rem;
}

img
{
  width: 100%;
  border-radius: 0.5rem;
}

h1{
  color: hsl(24, 5%, 18%);
  margin-top: 0.8rem;
}

p,li
{
  color: hsl(30, 10%, 34%);
  margin-top: 0.8rem;
}
.pre
{
  background-color: hsl(330, 100%, 98%);
  padding: 0.8rem;
  border-radius: 0.5rem;
  margin-top: 0.8rem;
}

.pre h4{
  color: hsl(332, 51%, 32%);
}
li
{
  list-style-position: inside;
}

h2{
  color: hsl(14, 45%, 36%);
  margin-top: 0.8rem;
}

hr{
  margin-top: 0.8rem;
  opacity: 0.5;
}

ol li::marker{
  color: hsl(14, 45%, 36%);
}